$text-color: (
    light-black-color: #0A254D,
    white-color: white,
    place-holder-color: (linear-gradient(0deg, #8F95B2, #8F95B2), linear-gradient(0deg, #00000033, #00000033))  
);

$bg-color:(
    bg-light-gray: #FCFCFD,
    bg-contact-us-button: #FFFFFF,
    bg-container: linear-gradient(190.18deg, #F5FAFB 47.27%, #E9F6F9 85.77%),
    bg-input-container: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.5) 99.5%),
    bg-submit-button: linear-gradient(126.71deg, #4E84E5 31.39%, #61BAFF 102.17%),
    bg-container-bottom: #F8F6FD
);